Timbiriche-Game/TimbiricheViews/Connected Services/Server/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.10.12:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimbiricheService" />
  <xs:import schemaLocation="http://172.20.10.12:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfLobbyPlayerinttbPaEAnV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfLobbyPlayerinttbPaEAnV" type="tns:KeyValuePairOfLobbyPlayerinttbPaEAnV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfLobbyPlayerinttbPaEAnV" nillable="true" type="tns:ArrayOfKeyValuePairOfLobbyPlayerinttbPaEAnV" />
  <xs:complexType name="KeyValuePairOfLobbyPlayerinttbPaEAnV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LobbyPlayer" Namespace="http://schemas.datacontract.org/2004/07/TimbiricheService" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TimbiricheService" name="key" nillable="true" type="q1:LobbyPlayer" />
      <xs:element name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfLobbyPlayerinttbPaEAnV" nillable="true" type="tns:KeyValuePairOfLobbyPlayerinttbPaEAnV" />
</xs:schema>