Timbiriche-Game/TimbiricheViews/Connected Services/Server/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TimbiricheService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TimbiricheService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountFK" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="Coins" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdColorSelected" type="xs:int" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdStyleSelected" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdAcccount" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="LobbyInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchDurationInMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="TurnDurationInMinutes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyInformation" nillable="true" type="tns:LobbyInformation" />
  <xs:complexType name="LobbyPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="HexadecimalColor" type="xs:int" />
      <xs:element minOccurs="0" name="StylePath" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyPlayer" nillable="true" type="tns:LobbyPlayer" />
  <xs:complexType name="ArrayOfLobbyPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LobbyPlayer" nillable="true" type="tns:LobbyPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobbyPlayer" nillable="true" type="tns:ArrayOfLobbyPlayer" />
  <xs:complexType name="ArrayOfPlayerColor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerColor" nillable="true" type="tns:PlayerColor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerColor" nillable="true" type="tns:ArrayOfPlayerColor" />
  <xs:complexType name="PlayerColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdColor" type="xs:int" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdPlayerColors" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerColor" nillable="true" type="tns:PlayerColor" />
  <xs:complexType name="ArrayOfPlayerStyle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerStyle" nillable="true" type="tns:PlayerStyle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerStyle" nillable="true" type="tns:ArrayOfPlayerStyle" />
  <xs:complexType name="PlayerStyle">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdPlayerStyle" type="xs:int" />
      <xs:element minOccurs="0" name="IdStyle" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerStyle" nillable="true" type="tns:PlayerStyle" />
</xs:schema>