Timbiriche-Game/TimbiricheViews/Connected Services/Server/UserManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IManagerOnlineUsers_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IEmailManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimbiricheService" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManager_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserManager_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidateLoginCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLoginCredentials" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidateLoginCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLoginCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidateUniqueIdentifierUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUniqueIdentifierUser" />
  </wsdl:message>
  <wsdl:message name="IUserManager_ValidateUniqueIdentifierUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUniqueIdentifierUserResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerOnlineUsers_RegisterUserToOnlineUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserToOnlineUsers" />
  </wsdl:message>
  <wsdl:message name="IManagerOnlineUsers_UnregisterUserToOnlineUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterUserToOnlineUsers" />
  </wsdl:message>
  <wsdl:message name="IManagerOnlineUsers_NotifyUserLoggedIn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IManagerOnlineUsers_NotifyUserLoggedIn_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerOnlineUsers_NotifyUserLoggedOut_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserLoggedOut" />
  </wsdl:message>
  <wsdl:message name="IManagerOnlineUsers_NotifyUserLoggedOut_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserLoggedOutResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerOnlineUsers_NotifyOnlineUsers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOnlineUsers" />
  </wsdl:message>
  <wsdl:message name="IManagerOnlineUsers_NotifyOnlineUsers_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOnlineUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailManager_sendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendEmail" />
  </wsdl:message>
  <wsdl:message name="IEmailManager_sendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManager">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/AddUser" message="tns:IUserManager_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/AddUserResponse" message="tns:IUserManager_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLoginCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/ValidateLoginCredentials" message="tns:IUserManager_ValidateLoginCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/ValidateLoginCredentialsResponse" message="tns:IUserManager_ValidateLoginCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUniqueIdentifierUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManager/ValidateUniqueIdentifierUser" message="tns:IUserManager_ValidateUniqueIdentifierUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManager/ValidateUniqueIdentifierUserResponse" message="tns:IUserManager_ValidateUniqueIdentifierUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IManagerOnlineUsers">
    <wsdl:operation name="RegisterUserToOnlineUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerOnlineUsers/RegisterUserToOnlineUsers" message="tns:IManagerOnlineUsers_RegisterUserToOnlineUsers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterUserToOnlineUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerOnlineUsers/UnregisterUserToOnlineUsers" message="tns:IManagerOnlineUsers_UnregisterUserToOnlineUsers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyUserLoggedIn">
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerOnlineUsers/NotifyUserLoggedIn" message="tns:IManagerOnlineUsers_NotifyUserLoggedIn_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerOnlineUsers/NotifyUserLoggedInResponse" message="tns:IManagerOnlineUsers_NotifyUserLoggedIn_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyUserLoggedOut">
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerOnlineUsers/NotifyUserLoggedOut" message="tns:IManagerOnlineUsers_NotifyUserLoggedOut_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerOnlineUsers/NotifyUserLoggedOutResponse" message="tns:IManagerOnlineUsers_NotifyUserLoggedOut_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyOnlineUsers">
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerOnlineUsers/NotifyOnlineUsers" message="tns:IManagerOnlineUsers_NotifyOnlineUsers_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerOnlineUsers/NotifyOnlineUsersResponse" message="tns:IManagerOnlineUsers_NotifyOnlineUsers_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEmailManager">
    <wsdl:operation name="sendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailManager/sendEmail" message="tns:IEmailManager_sendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailManager/sendEmailResponse" message="tns:IEmailManager_sendEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserManager" type="tns:IUserManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLoginCredentials">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/ValidateLoginCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUniqueIdentifierUser">
      <soap12:operation soapAction="http://tempuri.org/IUserManager/ValidateUniqueIdentifierUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IManagerOnlineUsers" type="tns:IManagerOnlineUsers">
    <wsp:PolicyReference URI="#NetTcpBinding_IManagerOnlineUsers_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterUserToOnlineUsers">
      <soap12:operation soapAction="http://tempuri.org/IManagerOnlineUsers/RegisterUserToOnlineUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnregisterUserToOnlineUsers">
      <soap12:operation soapAction="http://tempuri.org/IManagerOnlineUsers/UnregisterUserToOnlineUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyUserLoggedIn">
      <soap12:operation soapAction="http://tempuri.org/IManagerOnlineUsers/NotifyUserLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyUserLoggedOut">
      <soap12:operation soapAction="http://tempuri.org/IManagerOnlineUsers/NotifyUserLoggedOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyOnlineUsers">
      <soap12:operation soapAction="http://tempuri.org/IManagerOnlineUsers/NotifyOnlineUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IEmailManager" type="tns:IEmailManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IEmailManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="sendEmail">
      <soap12:operation soapAction="http://tempuri.org/IEmailManager/sendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagerService">
    <wsdl:port name="NetTcpBinding_IUserManager" binding="tns:NetTcpBinding_IUserManager">
      <soap12:address location="net.tcp://localhost:8081/UserManagerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/UserManagerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-HHJQVNMN\egd17</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IManagerOnlineUsers" binding="tns:NetTcpBinding_IManagerOnlineUsers">
      <soap12:address location="net.tcp://localhost:8081/UserManagerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/UserManagerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-HHJQVNMN\egd17</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IEmailManager" binding="tns:NetTcpBinding_IEmailManager">
      <soap12:address location="net.tcp://localhost:8081/UserManagerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/UserManagerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-HHJQVNMN\egd17</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>